.todo-list-item{
    display:flex;
    justify-content: space-between ;
}
.todo-title{
    font-size: 24px;
    font-weight: bold;
}
.item-btn{
    width: 60px;
    margin: 0 10px;
}

.done{
    text-decoration: line-through;
}

.important{
    color: aqua;
}